<div class="container" *ngIf="todoList">
  <h1>{{ todoList.title }}</h1>
  <form (ngSubmit)="updateTodoList(todoListSettingsForm)"
        #todoListSettingsForm="ngForm">
    <div class="form-group row" [ngClass]="{'has-danger': errors?.title}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.title">
        {{ error }}
      </div>
      <label for="title" class="col-form-label col-sm-3">Title</label>
      <input type="text" class="form-control col-sm-9" name="title" [(ngModel)]="todoList.title" required>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': errors?.owner}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.owner">
        {{ error }}
      </div>
      <label for="owner" class="col-form-label col-sm-3">Owner</label>
      <select class="form-control col-sm-9" name="owner" [(ngModel)]="todoList.owner" #ownerField
              (change)="todoList.mode='full_access'">
        <option [ngValue]=null>No one</option>
        <option *ngIf="user" [ngValue]="user.pk">Me</option>
        <option *ngIf="ownerId && ownerId !== user.pk" [ngValue]="ownerId">Other user</option>
      </select>
    </div>

    <div class="form-group row">
      <label for="mode" class="col-form-label col-sm-3">Mode</label>
      <select class="form-control col-sm-9" name="mode"
              [(ngModel)]="todoList.mode" #modeField>
        <option value='private'>Just for me</option>
        <option value='read'>Allow read to everyone</option>
        <option value='full_access'>Full access to everyone</option>
      </select>
    </div>

    <div class="form-group row">
      <div class="col flex-first">
        <button type="button" class="btn btn-danger" (click)="deleteTodoList()" *ngIf="isCanEdit"><i class="fa fa-trash" aria-hidden="true"></i>Delete</button>
      </div>
      <button type="button" class="btn btn-secondary pull-right" [routerLink]="['/', todoList.id]"><i class="fa fa-list-ul" aria-hidden="true"></i>Review ToDo list</button>
      <button type="submit" class="btn btn-primary pull-right" [disabled]="!todoListSettingsForm.form.valid" *ngIf="isCanEdit"><i class="fa fa-floppy-o" aria-hidden="true"></i>Update</button>
    </div>
  </form>
</div>
