<h2>Password reset confirm</h2>
<div *ngIf="isSuccess">
  <p>You successfully changed your password, now you can login with new password.</p>
</div>
<form *ngIf="!isWrongToken && !isSuccess" (ngSubmit)="passwordResetConfirm()" >
  <div>
    <ul *ngFor="let error of errors?.new_password1">
      <li>{{ error }}</li>
    </ul>
    <label for="new_password1">New password
      <input id="new_password1" type="password"
             [(ngModel)]="new_password1" name="new_password1" required>
    </label>
  </div>
  <div>
    <ul *ngFor="let error of errors?.new_password2">
      <li>{{ error }}</li>
    </ul>
    <label for="new_password2">New password one more time
      <input id="new_password2" type="password"
             [(ngModel)]="new_password2" name="new_password2" required>
    </label>
  </div>
  <button type="submit">Change password</button>
</form>
<div *ngIf="isWrongToken">
  <p>Link for reset password not work anymore, please order new from <a  [routerLink]="['/password-reset']">reset password page</a>.</p>
</div>
