<div class="container">

  <h1>Reset Password Confirm</h1>
  <div *ngIf="isSuccess">
    <p>You successfully changed your password, now you can login with new password.</p>
  </div>
  <form [ngClass]="{'has-danger': errors, 'has-warning': NewPassword1Field.value !== NewPassword2Field.value}"
      *ngIf="!isWrongToken && !isSuccess" (ngSubmit)="passwordResetConfirm(passwordResetConfirmForm)" #passwordResetConfirmForm="ngForm">
    <div class="form-group row">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngIf="NewPassword1Field.value !== NewPassword2Field.value">
        Password and confirmation fields didn't match.
      </div>
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.new_password1">
        {{ error }}
      </div>
      <label for="new_password1" class="col-sm-3 col-form-label">New Password</label>
      <input id="new_password1" type="password" class="col-sm-9 form-control"
             [(ngModel)]="new_password1" name="new_password1" #NewPassword1Field required>
    </div>
    <div class="form-group row">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.new_password2">
        {{ error }}
      </div>
      <label for="new_password2" class="col-sm-3 col-form-label">Confirm New Password</label>
      <input id="new_password2" type="password" class="col-sm-9 form-control"
             [(ngModel)]="new_password2" name="new_password2" #NewPassword2Field required>

    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!passwordResetConfirmForm.form.valid">Change password</button>
  </form>
  <div *ngIf="isWrongToken">
    <p>Link for reset password not work anymore, please order new from <a  [routerLink]="['/password-reset']">reset password page</a>.</p>
  </div>

</div>
