<h1>
  {{title}}
</h1>

<ul>
  <li *ngFor="let todo_item of todoItems">
    <input type="checkbox" [(ngModel)]="todo_item.status">
    <span *ngIf="todo_item === selectedTodoItem">
      <input type="text" [(ngModel)]="todo_item.title">
      <button (click)="saveTodoItem(item)">save</button>
      <button (click)="delete(todo_item)">x</button>
    </span>
    <span *ngIf="todo_item !== selectedTodoItem">
      {{ todo_item.title }}
      <button (click)="editTodoItem(todo_item)">edit</button>
    </span>
  </li>
</ul>

<div>
  <input type="text" [(ngModel)]="newItemTitle">
  <button [disabled]="!newItemTitle" (click)="add(newItemTitle); newItemTitle=''">create</button>
</div>
