<h2>Password reset</h2>
<div *ngIf="!isSuccess">
  <ul *ngFor="let error of errors?.email">
    <li>{{ error }}</li>
  </ul>
  <input type="email" placeholder="please input your email" [(ngModel)]="email">
  <button (click)="passwordReset(email)">Send email</button>
</div>
<div *ngIf="isSuccess">
  <p>You must get email soon, please follow instructions in email for reset password.</p>
  <p>If you can't get email and you sure about your email address is correct,
    please contact with administrator</p>
</div>
