<h2>Password reset</h2>
<div *ngIf="!isSuccess">
  <form (ngSubmit)="passwordReset(passwordResetForm)" #passwordResetForm="ngForm">
    <ul *ngFor="let error of errors?.email">
      <li>{{ error }}</li>
    </ul>
    <input type="email" placeholder="please input your email" [(ngModel)]="email" name="email">
    <button type="submit">Send email</button>
  </form>

</div>
<div *ngIf="isSuccess">
  <p>You must get email soon, please follow instructions in email for reset password.</p>
  <p>If you can't get email and you sure about your email address is correct,
    please contact with administrator</p>
</div>
