<div class="container">

  <h1>Reset Password</h1>
  <form *ngIf="!isSuccess" (ngSubmit)="passwordReset(passwordResetForm)" #passwordResetForm="ngForm">

    <div class="form-group row" [ngClass]="{'has-danger': errors?.email}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.email">
        {{ error }}
      </div>

      <label for="email" class="col-sm-3 col-form-label">Email</label>
      <div class="col-sm-9">
        <input type="email" class="form-control" required
               placeholder="Please input your email" [(ngModel)]="email" name="email">
      </div>
    </div>
    <button class="btn btn-primary pull-right" type="submit"
            [disabled]="!passwordResetForm.form.valid">Reset Password</button>
  </form>

  <div *ngIf="isSuccess">
    <p>You must get email soon, please follow instructions in email for reset password.</p>
    <p>If you can't get email and you sure about your email address is correct,
      please contact with administrator</p>
  </div>

</div>
