<div class="container">
  <h1>Registration Form</h1>
  <div *ngIf="!isSuccess && user != null">
    <p>You already have account.</p>
  </div>
  <div *ngIf="isSuccess">
    <p>You successfully registered. Now you can use all functionality of site.</p>
    <p *ngIf="email">Soon you will get emai for validate your email address.</p>
  </div>
  <form *ngIf="!isSuccess && user == null" (ngSubmit)="registerUser(registrationForm)" #registrationForm="ngForm">
    <div class="form-group row" [ngClass]="{'has-danger': errors?.username}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.username">
        {{ error }}
      </div>
      <label for="username" class="col-form-label col-sm-3">Your Username*</label>
      <input id="username" type="text" class="form-control col-sm-9"
             [(ngModel)]="username" name="username" required>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': errors?.email}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.email">
        {{ error }}
      </div>
      <label for="email" class="col-form-label col-sm-3">Your Email Address</label>
      <input id="email" type="email" class="form-control col-sm-9"
             [(ngModel)]="email" name="email">
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': errors?.password1}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.password1">
        {{ error }}
      </div>
      <label for="password1" class="col-form-label col-sm-3">Password*</label>
      <input id="password1" type="password" class="form-control col-sm-9"
             [(ngModel)]="password1" name="password1" required>
    </div>
    <div class="form-group row" [ngClass]="{'has-danger': errors?.password2}">
      <div class="form-control-feedback col-sm-9 offset-sm-3"
           *ngFor="let error of errors?.password2">
        {{ error }}
      </div>
      <label for="password2" class="col-form-label col-sm-3">Password Confirmation*</label>
      <input id="password2" type="password" class="form-control col-sm-9"
             [(ngModel)]="password2" name="password2" required>
    </div>
    <div *ngFor="let error of errors?.non_field_errors">
      {{ error }}
    </div>
    <button type="submit" class="btn btn-primary"
            [disabled]="!registrationForm.form.valid">Register Account</button>
  </form>
</div>
