<ul>
  <li *ngFor="let todoItem of todoItems">
    <input type="checkbox" [(ngModel)]="todoItem.status" (change)="save(todoItem)">

    <span *ngIf="todoItem === selectedTodoItem">
      <input type="text" [(ngModel)]="todoItem.title">
      <button (click)="save(todoItem)">save</button>
      <button (click)="delete(todoItem)">x</button>
    </span>

    <span *ngIf="todoItem !== selectedTodoItem">
      {{ todoItem.id }}{{ todoItem.title }}
      <button (click)="editTodoItem(todoItem)">edit</button>
    </span>
  </li>
</ul>

<div>
  <input type="text" [(ngModel)]="newItemTitle">
  <button [disabled]="!newItemTitle" (click)="add(newItemTitle); newItemTitle=''">create</button>
</div>
