<div class="container">

  <h1>Create your ToDo list!!!</h1>

  <form (ngSubmit)="add(newTodoTitle)" #mainPageCreateForm="ngForm">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>
            <input type="text" class="form-control" required maxlength="140"
                   [(ngModel)]="newTodoTitle" name="title" id="new-item-title">
          </td>
          <td>
            <button type="submit" class="btn btn-info" id="new-item-create"
                    [disabled]="!mainPageCreateForm.form.valid">Create</button>
          </td>
        </tr>
      </tbody>
    </table>
  </form>

</div>
