<div *ngIf="todoList">
  <div *ngIf="!isEditTitle">
    <h2>{{ todoList.title }}</h2>
    <h2 *ngIf="!todoList.title">ToDo list without title</h2>
    <button (click)="editTodoListTitle()">edit</button>
  </div>
  <div *ngIf="isEditTitle">
    &#8678;
    <input type="text" [(ngModel)]="todoList.title">
    <button (click)="saveTodoListTitle()">save</button>
  </div>
</div>

<ul>
  <li *ngFor="let todoItem of todoItems | orderById">
    <input type="checkbox" [(ngModel)]="todoItem.status" (change)="save(todoItem)">

    <span *ngIf="todoItem === selectedTodoItem">
      <input type="text" [(ngModel)]="todoItem.title">
      <button (click)="save(todoItem)">save</button>
      <button (click)="delete(todoItem)">x</button>
    </span>

    <span *ngIf="todoItem !== selectedTodoItem">
      {{ todoItem.title }}
      <button (click)="editTodoItem(todoItem)">edit</button>
    </span>
  </li>
</ul>

<div>
  <input id="new-item-title" type="text" [(ngModel)]="newItemTitle">
  <button id="new-item-create" [disabled]="!newItemTitle" (click)="add(newItemTitle); newItemTitle=''">create</button>
</div>
<button (click)="deleteTodoList()">Delete full ToDo list</button>
