<div class="container" *ngIf="todoList">
  <h1>{{ todoList.title || 'Todo list without title'  }}</h1>
  <alert type="warning"  dismissible="true" *ngIf="user===null">
    You not logged in that's why you can't add this ToDo list to favorite or subscribe to updates.
  </alert>
  <alert type="warning"  dismissible="true" *ngIf="!((todoList | favorite) || (todoList | watch) || (todoList | owner))">
    When you not owner, subscribed and ToDoList not in your favorite, then you can look at list just by direct link.
  </alert>

  <button class="btn btn-secondary btn-sm" [routerLink]="['/', todoList.id, 'settings']">
    <i class="fa fa-cog" aria-hidden="true"></i>Settings
  </button>

  <button class="btn btn-info btn-sm"
          *ngIf="todoList | watch" (click)="unwatch(todoList.id)">
          <i class="fa fa-eye-slash" aria-hidden="true"></i>Unwatch</button>
  <button class="btn btn-info btn-sm"
          *ngIf="!(todoList | watch)" (click)="watch(todoList.id)">
          <i class="fa fa-eye" aria-hidden="true"></i>Watch</button>

  <button class="btn btn-danger btn-sm"
          *ngIf="todoList | favorite" (click)="removeFromFavorite(todoList.id)">
          <i class="fa fa-heart-o" aria-hidden="true"></i>Remove from Favorite</button>
  <button class="btn btn-danger btn-sm"
          *ngIf="!(todoList | favorite)" (click)="addToFavorite(todoList.id)">
          <i class="fa fa-heart" aria-hidden="true"></i>Add to Favorite</button>


  <table class="table table-hover">
    <thead>
      <tr>
        <th>Status</th>
        <th>#</th>
        <th class="w-75">Title</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todoItem of todoItems | orderById; let i = index"
          (click)="editTodoItem(todoItem)">
        <td>
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input big-checkbox"
                   [(ngModel)]="todoItem.status" (change)="save(todoItem)">
          </label>
        </td>
        <td>{{ i+1 }}</td>

        <td *ngIf="todoItem !== selectedTodoItem" [ngClass]="{'done': todoItem.status}">
          {{ todoItem.title }}
        </td>
        <td *ngIf="todoItem === selectedTodoItem">
          <input type="text" class="form-control"
                 [(ngModel)]="todoItem.title" (keyup.enter)="save(todoItem)">
        </td>

        <td *ngIf="todoItem !== selectedTodoItem">
          <button class="btn btn-danger btn-sm" (click)="delete(todoItem)">
            <i class="fa fa-trash" aria-hidden="true"></i>Delete
          </button>
        </td>
        <td *ngIf="todoItem === selectedTodoItem">
          <button class="btn btn-info btn"
                  #saveButton (click)="save(todoItem)">Save</button>
        </td>
      </tr>

      <tr>
        <td></td>
        <td></td>
        <td><input type="text" class="form-control" id="new-item-title"
                   [(ngModel)]="newItemTitle" (keyup.enter)="createButton.click()"></td>
        <td><button class="btn btn-secondary" id="new-item-create"
                    #createButton [disabled]="!newItemTitle" (click)="add(newItemTitle); newItemTitle=''">
          <i class="fa fa-plus-square" aria-hidden="true"></i>Create</button>
        </td>
      </tr>


    </tbody>
  </table>
</div>
