<div class="container">
  <h1>Password change</h1>
  <form (ngSubmit)="passwordChange(passwordChangeForm)" #passwordChangeForm="ngForm" *ngIf="true">
    <div class="form-control-feedback col-sm-9 offset-sm-3"
         *ngFor="let error of error?.non_field_errors">
    </div>

    <div class="form-control-feedback col-sm-8 offset-sm-4" *ngIf="feedback != null">
      {{ feedback }}
    </div>

    <div class="form-control-feedback col-sm-8 offset-sm-4"
         *ngIf="NewPassword1Field.value !== NewPassword2Field.value">
      Password fields didn't match.
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': errors?.new_password1}">
      <div class="form-control-feedback col-sm-8 offset-sm-4"
           *ngFor="let error of errors?.new_password1">
        {{ error }}
      </div>
      <label for="new_password1" class="col-form-label col-sm-4">New password</label>
      <input type="password" class="form-control col-sm-8" required
             [ngModel]="new_password1" name="new_password1" #NewPassword1Field>
    </div>

    <div class="form-group row" [ngClass]="{'has-danger': errors?.new_password2}">
      <div class="form-control-feedback col-sm-8 offset-sm-4"
           *ngFor="let error of errors?.new_password2">
        {{ error }}
      </div>
      <label for="new_password2" class="col-form-label col-sm-4">Repeat new password</label>
      <input type="password" class="form-control col-sm-8" required
             [ngModel]="new_password2" name="new_password2" #NewPassword2Field>
    </div>

    <button type="submit" class="btn btn-primary pull-right"
            [disabled]="!passwordChangeForm.form.valid">Update</button>

  </form>
</div>
