<div class="container">
  <h1>Todo lists</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th></th>
        <th>
          <button class="btn btn-secondary btn-sm" [routerLink]="['/todo-list-create']">
            <i class="fa fa-plus-square" aria-hidden="true"></i>Create ToDo list
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todoList of todoLists; let i=index" [routerLink]="['/', todoList.id]">
        <td>{{ i + 1 }}</td>
        <td>{{ todoList.title }}</td>
        <td>
          <span class="badge badge-default" *ngIf="todoList | owner"><i class="fa fa-user-circle-o" aria-hidden="true"></i>Own</span>
          <span class="badge badge-danger" *ngIf="todoList | favorite"><i class="fa fa-heart" aria-hidden="true"></i>Favorite</span>
          <span class="badge badge-info" *ngIf="todoList | watch"><i class="fa fa-eye" aria-hidden="true"></i>Watch</span>
        </td>
        <td>
          <button class="btn btn-secondary btn-sm" [routerLink]="['/', todoList.id, 'settings']">
            <i class="fa fa-cog" aria-hidden="true"></i>Settings
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
