<h2>
  Todo lists
</h2>

<div>
  <button [routerLink]="['/todo-list-create']">Create New Todo List</button>
  <div class="todoList" *ngFor="let todoList of todoLists">
    {{ todoList.title ? todoList.title : 'Empty Todo list title' }}

    <div class="right">
      <span class="badge own" *ngIf="todoList | owner">own</span>
      <span class="badge favorite" *ngIf="todoList | favorite">favorite</span>
      <span class="badge watch" *ngIf="todoList | watch">watch</span>
      <button [routerLink]="['/', todoList.id]">View</button>
      <button [routerLink]="['/', todoList.id, 'settings']">Settings</button>
    </div>
  </div>
</div>
